.form {
  max-width: 1440px;
  background: $elixir-purple;
  padding: 110px;

  @include grid-media($mobile-grid) {
    height: auto;
    padding: 40px;
  }

  h2,
  h1,
  label {
    font-weight: 100;
    font-family: $playfair;
    color: #fff;
    padding-bottom: 20px;
  }

  input,
  select,
  textarea {
    font-size: 24px;
    width: 80%;
    padding: 20px;
    background-color: $elixir-purple;
    border: #fff 1px solid;
    color: #fff;
  }

  textarea {
    height: 150px;
  }

  ::placeholder {
    color: $blue;
    opacity: 0.6;
  }

  .btn {
    font-size: 14px;
    display: block;
    margin-top: 20px;
    border: none;
  }

  &.enquiry {
    margin: 20px -40px;

    @include grid-media($mobile-grid) {
      height: auto;
      padding: 40px;
    }

    label {
      display: block;
      font-size: 18px;
      font-weight: 100;
      font-family: $playfair;
      line-height: 38px;
      color: #fff;
      padding-top: 30px;
    }
  }
}
