.form {
  max-width: 1440px;
  margin: 0px auto;
  background: $elixir-purple;
  padding: 110px;

  @include grid-media($mobile-grid) {
    height: auto;
    padding: 80px 0;
  }

  h2 {
    font-size: 24px;
    font-weight: 100;
    font-family: $playfair;
    color: #fff;
    padding-bottom: 20px;
  }

  input {
    font-size: 24px;
    width: 500px;
    padding: 20px;
    background-color: $elixir-purple;
    border: #fff 1px solid;
    color: #fff;
  }

  ::placeholder {
    color: $blue;
    opacity: 0.6;
  }

  .btn {
    font-size: 14px;
    display: block;
    margin-top: 20px;
    border: none;
  }

}